{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
    <link href="{{ url_for('static', filename='css/main_page_style.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <h3 class="text-muted">Face Verification for CS231a</h3>
      </div>

      <div class="jumbotron">
        <h1>Face Verification Project</h1>
        <p class="lead">Francois Chaubard and Mike Chrzanowski reimplemented <a href="http://www.robots.ox.ac.uk/~vedaldi/assets/pubs/simonyan13fisher.pdf">Face Verification in the Wild</a> for public use.</p>
      </div>

      <div class="row marketing">
        <div  style="text-align:left"> 
          <ol> 
            <li>Add two pictures of faces (roughly 160px by 160px) </li>
            <li>Hit button below </li>
            <li>Wait up to 30 seconds </li>
          </ol>
        </div>
        <div class="col-lg-6">
          <h4>Load Pic 1</h4>
          <div  id="dropbox1"><span id="status1">Feed me image file!</span><canvas id="imageCanvas1"  ></canvas></div>
        </div>

        <div class="col-lg-6">
          <h4>Load Pic 2</h4>
          <div id="dropbox2"><span id="status2">Feed me image file!</span><canvas id="imageCanvas2"></canvas></div>

        </div>
        <p style="text-align:center"><a id="upload-file-btn" class="btn btn-lg btn-success" >Same Face or Different Face?</a></p>
        <p id="response" style="text-align:center; font-size: 25px"> </p>
       
      </div>
{% endblock %}

{% block footer %}
{{ super() }}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  <!--<script src="{{ url_for('static', filename='js/filedrop.js') }}" />-->

 <script type="text/javascript">



      var im1_given = false;
      var im2_given = false;
      var main = document.getElementById('main');
      var dropbox1 = document.getElementById('dropbox1');
      var dropbox2 = document.getElementById('dropbox2');
      var stateStr = 'Drag image file here asdaf';
      var dropStr = 'Drop image file! asd fadf ';
      var canvas1 = document.getElementById('imageCanvas1');
      var canvas2 = document.getElementById('imageCanvas2');
      $('#canvas1').toggle(); 
      $('#canvas2').toggle(); 
      var file1 = false;
      var file2 = false;
      state1 = document.getElementById('status1');
      state2 = document.getElementById('status2');

      

      dropbox1.ondragover = function () { 
        if (!im1_given){
          this.className = 'hover'; 
          state1.innerHTML = dropStr;
        } 
        return false; 
      };
      dropbox1.ondragend = function () { 
        if (!im1_given){
          this.className = 'nohover'; 
          state1.innerHTML = stateStr; 
        }
        return false; 
      };
      dropbox1.ondragleave = function (){ 
        if (!im1_given){
          this.className = 'nohover'; 
          state1.innerHTML = stateStr; 
        }
        return false; 
      };
      dropbox1.ondrop = function (e){ 
        if (typeof window.FileReader === 'undefined') {
          $('#response').text( 'File API & FileReader unavailable');
          return false;
        }
        this.className = 'dropped'; 
        state1.innerHTML = ""; 
        //handleImage(e,canvas1); 
        e.preventDefault();
        //readfiles(e.dataTransfer.files);
        //for (var i = 0; i < e.dataTransfer.files.length; i++) {
        previewfile(e.dataTransfer.files[0],canvas1);
        //}
        file1=e.dataTransfer.files[0];
        im1_given=true;
        
        return false; 
      };

      dropbox2.ondragover = function () { 
        if (!im2_given){
          this.className = 'hover'; 
          state2.innerHTML = dropStr;
        } 
        return false; 
      };
      dropbox2.ondragend = function () { 
        if (!im2_given){
          this.className = 'nohover'; 
          state2.innerHTML = stateStr; 
        }
        return false; 
      };
      dropbox2.ondragleave = function (){ 
        if (!im2_given){
          this.className = 'nohover'; 
          state2.innerHTML = stateStr; 
        }
        return false; 
      };
      dropbox2.ondrop = function (e){ 
          if (typeof window.FileReader === 'undefined') {
            $('#response').text( 'File API & FileReader unavailable');
            return false;
          }
          this.className = 'dropped'; 
          state2.innerHTML = ""; 
          //handleImage(e,canvas1); 
          e.preventDefault();
          //readfiles(e.dataTransfer.files);
          //var formData = new FormData();
          //for (var i = 0; i < e.dataTransfer.files.length; i++) {
            //formData.append('file', e.dataTransfer.files[i]);
            previewfile(e.dataTransfer.files[0],canvas2);
          //}
          file2=e.dataTransfer.files[0];
          im2_given=true;
          
          return false; 
      };

      function bytes(string) {
          var escaped_string = encodeURI(string);
          if (escaped_string.indexOf("%") != -1) {
            var count = escaped_string.split("%").length - 1;
            count = count == 0 ? 1 : count;
            count = count + (escaped_string.length - (count * 3));
          }
          else {
            count = escaped_string.length;
          }
        }

      $('#upload-file-btn').click(function(){

        if (im1_given & im2_given){
          $('#upload-file-btn').text('Loading..');

          $('#response').text("Spinning up matlab takes awhile.. should be about 60 seconds");
          var form_data = new FormData();
          form_data.append('file1', file1);
          form_data.append('file2', file2);
          $("#upload-file-btn").removeAttr("click");
          
          $('#dropbox1').css("background-color", "white");
          $('#dropbox2').css("background-color", "white");
          $('#response').css("background-color", "white");
          //var dataURL = canvas1.toDataURL("image/jpg");

          //var base_64 = dataURL.replace(/^data:image\/(png|jpg);base64,/, ""); 
          console.log(file1.size);
          console.log(file2.size);
          MAX_FILE_SIZE=1000000;
          if(file1.size>MAX_FILE_SIZE || file2.size > MAX_FILE_SIZE ){
            $('#response').text("Images too big! 160x160!");
            $('#upload-file-btn').text('Same Face or Different Face?');
            return false;
          }

          $.ajax({
              type: 'POST',
              url: '/upload',
              data: form_data,
              contentType: false,
              cache: false,
              processData: false,
              async: true,
              success: function (res) {
                  
                  if (res['success']===true){
                    $('#dropbox1').css("background-color", "green");
                    $('#dropbox2').css("background-color", "green");
                    $('#response').text("Same Face!");

                    $('#response').css("background-color", "green");
                  }else{

                    $('#dropbox1').css("background-color", "red");
                    $('#dropbox2').css("background-color", "red");
                    $('#response').text("Not Same Face!");

                    $('#response').css("background-color", "red");
                  }
                  console.log('Success!');
                  console.log(res['reason_code'])
                  $('#upload-file-btn').text('Same Face or Different Face?');
                  
                  return false;
              },
          });
          return false;
        }else{
          $('#response').text("Need to add photos first!");
        }
        return false;
      });
      
      


function previewfile(file,canvas) {
  //if (tests.filereader === true && acceptedTypes[file.type] === true) {
    var reader = new FileReader();
    reader.onload = function (event) {
      var img = new Image();
      

      var ctx = canvas.getContext('2d');
      img.src = event.target.result;

      img.onload = function () {
          ctx.drawImage(img,0,0);
      }
      canvas.width = img.width;
      canvas.height = img.height;
    };

    reader.readAsDataURL(file);

}







  </script>

{% endblock %}


  </body>
</html>
